GHCR_OWNER=m-ateek
BASE_DOMAIN=greenhousecloud.study
ACME_EMAIL=muhammadateek.scholars@gmail.com
JWT_SECRET=inventally
MONGO_DATABASE=watch2win
AUTH_IMAGE_TAG=latest
BACKEND_IMAGE_TAG=latest
PROCESSOR_IMAGE_TAG=latest
USER_PANEL_IMAGE_TAG=latest
ADMIN_PANEL_IMAGE_TAG=latest
TRAEFIK_HOST=traefik.greenhousecloud.study
PORTAINER_HOST=portainer.greenhousecloud.study
AUTH_HOST=auth.greenhousecloud.study
BACKEND_HOST=backend.greenhousecloud.study
PROCESSOR_HOST=processor.greenhousecloud.study
USER_HOST=user.greenhousecloud.study
ADMIN_HOST=admin.greenhousecloud.study
GRAFANA_HOST=grafana.greenhousecloud.study
LOKI_HOST=loki.greenhousecloud.study
PROMETHEUS_HOST=prometheus.greenhousecloud.study
DEPLOY_PORTAINER=true
DEPLOY_TRAEFIK=true
DEPLOY_APP=true
DEPLOY_MONITORING=true
