APP_NAME=Watch2Win Search Processor
MONGODB_URI=mongodb://mongo:27017
MONGO_DATABASE=watch2win
JWT_SECRET=inventally
CORS_ORIGINS=https://user.localhost,https://admin.localhost,https://backend.localhost,https://traefik.localhost
